@import url('pages/index.css');
@import url('pages/show.css');
@import url('pages/admin.css');

h1 {
  text-align: center;
  padding: 30px;
}

.back-button {
  position: absolute;
  left: 30px;
  top: 30px;
  text-decoration: none;
  color: black;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 5px 10px;
  border-radius: 5px;
}

.back-button:hover {
  color: black;
}
